.carruini1-container {
  min-height: 100vh;
}
.carruini1-carruini {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: var(--dl-color-light-framecolor);
}
.carruini1-framei-phone-x-s-bars-status-default {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.carruini1-action {
  top: 14px;
  left: 23.89404296875px;
  width: 32px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-text {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Amiko;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.carruini1-container1 {
  top: 17px;
  left: 298.5px;
  width: 67px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-battery {
  top: 0px;
  left: 42.5px;
  width: 24.5px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-rectangle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 11px;
  position: absolute;
}
.carruini1-rectangle1 {
  top: 1.9166667461395264px;
  left: 2px;
  width: 18px;
  height: 8px;
  position: absolute;
  border-color: rgba(76, 217, 100, 1);
  border-radius: 1.600000023841858px;
}
.carruini1-combined-shape {
  top: 0.44000244140625px;
  left: 0px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.carruini1-wi-fi {
  top: 0.24000167846679688px;
  left: 22.100006103515625px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.carruini1-ellipse906 {
  top: -182px;
  left: 194px;
  width: 389px;
  height: 389px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 90px;
}
.carruini1-group338 {
  top: 143px;
  left: 0px;
  width: 375px;
  height: 629px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-group335 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 513px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-group285 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 301px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-i-m-a-g-e81a48fdfedf49d08648513dc1826f8f2prevui2 {
  top: 55.524627685546875px;
  left: 318.98736572265625px;
  width: 313px;
  height: 163px;
  opacity: 0.30;
  position: absolute;
  border-color: transparent;
}
.carruini1-i-m-a-g-e81a48fdfedf49d08648513dc1826f8f2prevui1 {
  top: 2.842170943040401e-14px;
  left: 308.9162902832031px;
  width: 323px;
  height: 163px;
  position: absolute;
  border-color: transparent;
}
.carruini1-group283 {
  top: 345px;
  left: 20px;
  width: 302px;
  height: 168px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-text2 {
  color: var(--dl-color-light-textcolor);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.carruini1-group282 {
  top: 575px;
  left: 19.999755859375px;
  width: 341.000244140625px;
  height: 54px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-navlink {
  display: contents;
}
.carruini1-frame156 {
  top: 0px;
  left: 192.000244140625px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 50px;
  text-decoration: none;
  background-color: var(--dl-color-light-primarycolor);
}
.carruini1-text4 {
  color: var(--dl-color-light-bgcolor);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.carruini1-group281 {
  top: 25px;
  left: 0px;
  width: 67.00018310546875px;
  height: 5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.carruini1-rectangle1103 {
  top: 0px;
  left: 16px;
  width: 35px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 16px;
}
.carruini1-rectangle1104 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 16px;
}
.carruini1-rectangle1105 {
  top: 0px;
  left: 59.000186920166016px;
  width: 8px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 16px;
}
@media(max-width: 479px) {
  .carruini1-i-m-a-g-e81a48fdfedf49d08648513dc1826f8f2prevui1 {
    top: 34px;
    left: 11px;
  }
}
