.contrasea-container {
  min-height: 100vh;
}
.contrasea-contrasea {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: var(--dl-color-light-framecolor);
}
.contrasea-framei-phone-x-s-bars-status-default {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contrasea-action {
  top: 14px;
  left: 23.89404296875px;
  width: 32px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contrasea-text {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Amiko;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.contrasea-container1 {
  top: 17px;
  left: 298.5px;
  width: 67px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contrasea-battery {
  top: 0px;
  left: 42.5px;
  width: 24.5px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contrasea-rectangle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 11px;
  position: absolute;
}
.contrasea-rectangle1 {
  top: 1.9166667461395264px;
  left: 2px;
  width: 18px;
  height: 8px;
  position: absolute;
  border-color: rgba(76, 217, 100, 1);
  border-radius: 1.600000023841858px;
}
.contrasea-combined-shape {
  top: 0.44000244140625px;
  left: 0px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.contrasea-wi-fi {
  top: 0.24000167846679688px;
  left: 22.100006103515625px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.contrasea-group309 {
  top: 266px;
  left: 20px;
  width: 335px;
  height: 80px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contrasea-search-button {
  top: 32px;
  left: 0px;
  width: 335px;
  display: flex;
  padding: 16px 57px 16px 14px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-light-bgcolor);
}
.contrasea-text02 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contrasea-text04 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.contrasea-group305 {
  top: 128px;
  left: 51px;
  width: 273px;
  height: 88px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contrasea-text06 {
  top: 40px;
  color: var(--dl-color-light-subtextcolor);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Amiko;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.contrasea-text11 {
  left: 2px;
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Amiko;
  font-weight: 700;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.contrasea-frame156 {
  top: 386px;
  left: 20px;
  width: 335px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-light-primarycolor);
}
.contrasea-text13 {
  color: var(--dl-color-light-bgcolor);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contrasea-menu-icon {
  top: 52px;
  left: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  padding: 15px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-light-bgcolor);
}
.contrasea-appscircle {
  width: 24px;
  height: 24.000001907348633px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contrasea-back-arrow {
  top: 0px;
  left: 0px;
  width: 23.999998092651367px;
  height: 24.000001907348633px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contrasea-directionleft {
  top: 6.249934196472168px;
  left: 9.250017166137695px;
  width: 5.500028133392334px;
  height: 11.500056266784668px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contrasea-vector175stroke {
  top: 2.404138399469957e-7px;
  left: 5.500028133392334px;
  width: 12px;
  height: 6px;
  position: absolute;
}
