.converse-container {
  min-height: 100vh;
}
.converse-converse {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: var(--dl-color-light-framecolor);
}
.converse-framei-phone-x-s-bars-status-default {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.converse-action {
  top: 14px;
  left: 23.89404296875px;
  width: 32px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Amiko;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-container1 {
  top: 17px;
  left: 298.5px;
  width: 67px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-battery {
  top: 0px;
  left: 42.5px;
  width: 24.5px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-rectangle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 11px;
  position: absolute;
}
.converse-rectangle1 {
  top: 1.9166667461395264px;
  left: 2px;
  width: 18px;
  height: 8px;
  position: absolute;
  border-color: rgba(76, 217, 100, 1);
  border-radius: 1.600000023841858px;
}
.converse-combined-shape {
  top: 0.44000244140625px;
  left: 0px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.converse-wi-fi {
  top: 0.24000167846679688px;
  left: 22.100006103515625px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.converse-group170 {
  top: 52px;
  left: 20px;
  width: 335px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text02 {
  top: 8px;
  left: 131px;
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-navlink {
  display: contents;
}
.converse-menu-icon {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  display: flex;
  padding: 15px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-light-bgcolor);
}
.converse-appscircle {
  width: 24px;
  height: 24.000001907348633px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-back-arrow {
  top: 0px;
  left: 0px;
  width: 23.999998092651367px;
  height: 24.000001907348633px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.converse-directionleft {
  top: 6.249934196472168px;
  left: 9.250017166137695px;
  width: 5.500028133392334px;
  height: 11.500056266784668px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-vector175stroke {
  top: 2.404138399469957e-7px;
  left: 5.500028133392334px;
  width: 12px;
  height: 6px;
  position: absolute;
}
.converse-group169 {
  top: 10px;
  left: 271px;
  width: 64px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-navlink1 {
  display: contents;
}
.converse-search-icon {
  top: 0px;
  left: 40px;
  width: 24px;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.converse-navlink2 {
  display: contents;
}
.converse-filter {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.converse-group208 {
  top: 120px;
  left: 20px;
  width: 335px;
  height: 703px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group207 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 221px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-navlink3 {
  display: contents;
}
.converse-rectangle795 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 221px;
  position: absolute;
  text-decoration: none;
}
.converse-group206 {
  top: 117px;
  left: 14px;
  width: 129px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group187 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group183 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group181 {
  top: 0px;
  left: 0px;
  width: 104px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text04 {
  color: var(--dl-color-light-primarycolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-text06 {
  top: 20px;
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-text08 {
  top: 42px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group182 {
  top: 70px;
  left: 0px;
  width: 129px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text10 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group163 {
  top: 2px;
  left: 87px;
  width: 42px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-ellipse895 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-ellipse896 {
  top: 0px;
  left: 26px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-group190 {
  top: 0px;
  left: 177px;
  width: 158px;
  height: 221px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-rectangle7951 {
  top: 0px;
  left: 0px;
  width: 158px;
  height: 221px;
  position: absolute;
}
.converse-group189 {
  top: 117px;
  left: 14px;
  width: 128px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group186 {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group184 {
  top: 0px;
  left: 0px;
  width: 110px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text12 {
  color: var(--dl-color-light-primarycolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-text14 {
  top: 20px;
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-text16 {
  top: 42px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group185 {
  top: 70px;
  left: 0px;
  width: 128px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text18 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group172 {
  top: 2px;
  left: 86px;
  width: 42px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-ellipse8951 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-ellipse8961 {
  top: 0px;
  left: 26px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-group200 {
  top: 241px;
  left: 177px;
  width: 158px;
  height: 221px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-rectangle797 {
  top: 0px;
  left: 0px;
  width: 158px;
  height: 221px;
  position: absolute;
}
.converse-group199 {
  top: 137px;
  left: 10px;
  width: 132px;
  height: 70px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group198 {
  top: 0px;
  left: 0px;
  width: 132px;
  height: 70px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group196 {
  top: 0px;
  left: 0px;
  width: 132px;
  height: 38px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text20 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-text22 {
  top: 22px;
  left: 4px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group197 {
  top: 50px;
  left: 4px;
  width: 128px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text24 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group176 {
  top: 2px;
  left: 86px;
  width: 42px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-ellipse8952 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-ellipse8962 {
  top: 0px;
  left: 26px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-group195 {
  top: 482px;
  left: 0px;
  width: 159px;
  height: 221px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-rectangle796 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 221px;
  position: absolute;
}
.converse-group194 {
  top: 137.00018310546875px;
  left: 14.000043869018555px;
  width: 129px;
  height: 70px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group193 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 70px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group191 {
  top: 0px;
  left: 0px;
  width: 91px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text26 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-text31 {
  top: 22px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group192 {
  top: 50px;
  left: 0px;
  width: 129px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text33 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group175 {
  top: 2px;
  left: 87px;
  width: 42px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-ellipse8953 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-ellipse8963 {
  top: 0px;
  left: 26px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-group1951 {
  top: 241px;
  left: 0px;
  width: 159px;
  height: 221px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-rectangle7961 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 221px;
  position: absolute;
}
.converse-group1931 {
  top: 137px;
  left: 14px;
  width: 129px;
  height: 70px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-group1911 {
  top: 0px;
  left: 0px;
  width: 113px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text35 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-text40 {
  top: 22px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group1921 {
  top: 50px;
  left: 0px;
  width: 129px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-text42 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.converse-group1751 {
  top: 2px;
  left: 87px;
  width: 42px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.converse-ellipse8954 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-ellipse8964 {
  top: 0px;
  left: 26px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(248, 249, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.converse-image67 {
  top: 158.261962890625px;
  left: 30px;
  width: 109px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.converse-image68 {
  top: 161.396728515625px;
  left: 197px;
  width: 134px;
  height: 73px;
  position: absolute;
  border-color: transparent;
}
.converse-image71 {
  top: 615px;
  left: 142.764404296875px;
  width: 130px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.converse-image69 {
  top: 417.3309326171875px;
  left: 27px;
  width: 129px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.converse-image70 {
  top: 379px;
  left: 312.75048828125px;
  width: 120px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
@media(max-width: 479px) {
  .converse-image71 {
    left: 19px;
    bottom: 109px;
  }
  .converse-image70 {
    top: 395px;
    left: 210px;
  }
}
