.details1-container {
  min-height: 100vh;
}
.details1-details {
  width: 100%;
  height: 835px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(248, 249, 250, 1);
}
.details1-framei-phone-x-s-bars-status-default {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.details1-action {
  top: 14px;
  left: 23.89404296875px;
  width: 32px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-text {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Amiko;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-container1 {
  top: 17px;
  left: 298.5px;
  width: 67px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-battery {
  top: 0px;
  left: 42.5px;
  width: 24.5px;
  height: 11.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-rectangle {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 11px;
  position: absolute;
}
.details1-rectangle1 {
  top: 1.9166667461395264px;
  left: 2px;
  width: 18px;
  height: 8px;
  position: absolute;
  border-color: rgba(76, 217, 100, 1);
  border-radius: 1.600000023841858px;
}
.details1-combined-shape {
  top: 0.44000244140625px;
  left: 0px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.details1-wi-fi {
  top: 0.24000167846679688px;
  left: 22.100006103515625px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.details1-frame312 {
  top: 52px;
  left: 20px;
  width: 335px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.details1-menu-icon {
  width: 44px;
  height: 44px;
  display: flex;
  padding: 15px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 78px;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-light-bgcolor);
}
.details1-appscircle {
  width: 24px;
  height: 24.000001907348633px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-back-arrow {
  top: 0px;
  left: 0px;
  width: 23.999998092651367px;
  height: 24.000001907348633px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.details1-directionleft {
  top: 6.249934196472168px;
  left: 9.250017166137695px;
  width: 5.500028133392334px;
  height: 11.500056266784668px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-vector175stroke {
  top: 2.404138399469957e-7px;
  left: 5.500028133392334px;
  width: 12px;
  height: 6px;
  position: absolute;
}
.details1-text02 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 78px;
  margin-bottom: 0;
  text-decoration: none;
}
.details1-my-cart {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 78px;
}
.details1-frame31 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 40px;
  background-color: var(--dl-color-light-bgcolor);
}
.details1-frame276 {
  top: 330px;
  left: 0px;
  width: 375px;
  display: flex;
  padding: 16px 0 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px 24px 0 0;
  flex-direction: column;
  background-color: var(--dl-color-light-bgcolor);
}
.details1-frame275 {
  display: flex;
  padding: 0 31px 0 20px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.details1-frame162 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.details1-frame161 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 8px;
  flex-direction: column;
}
.details1-frame160 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 12px;
  flex-direction: column;
}
.details1-text04 {
  color: var(--dl-color-light-primarycolor);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 6px;
  text-decoration: none;
}
.details1-text06 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.details1-text08 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.details1-text10 {
  color: var(--dl-color-light-subtextcolor);
  width: 310px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.details1-frame152 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.details1-text12 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.details1-frame151 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.details1-group138 {
  width: 56px;
  height: 56px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 16px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-rectangle795 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.details1-nikezoomwinflo3831561001mensrunningshoes1155018723 {
  top: 12px;
  left: 48px;
  width: 45px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.details1-group139 {
  width: 56px;
  height: 56px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 16px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-rectangle796 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.details1-png-item555064221 {
  top: 23.4658203125px;
  left: 3px;
  width: 46px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.details1-group140 {
  width: 56px;
  height: 56px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-rectangle797 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.details1-nikeah8050110airmax2701eprevui1 {
  top: 22.26708984375px;
  left: 3px;
  width: 45px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}
.details1-frame274 {
  width: 375px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.details1-frame155 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.details1-frame154 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 16px;
}
.details1-text14 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 218px;
  margin-bottom: 0;
  text-decoration: none;
}
.details1-group141 {
  width: 81px;
  height: 20px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-text16 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-text18 {
  left: 30px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-text20 {
  left: 60px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-frame153 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.details1-group127 {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 13px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 249, 250, 1);
}
.details1-text22 {
  top: 13px;
  left: 13px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-group128 {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 13px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 249, 250, 1);
}
.details1-text24 {
  top: 13px;
  left: 13px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-group129 {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 13px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(91, 158, 225, 1);
}
.details1-text26 {
  top: 13px;
  left: 13px;
  color: var(--dl-color-light-bgcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-group130 {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 13px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 249, 250, 1);
}
.details1-text28 {
  top: 13px;
  left: 14px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-group131 {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 13px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 249, 250, 1);
}
.details1-text30 {
  top: 13px;
  left: 13px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-group132 {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 249, 250, 1);
}
.details1-text32 {
  top: 13px;
  left: 13px;
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.details1-group167 {
  width: 389px;
  height: 94px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.details1-frame159 {
  top: 0px;
  left: 0px;
  display: flex;
  padding: 16px 20px 24px 20px;
  position: absolute;
  box-shadow: -1.5px 0px 4px 0px rgba(130, 170, 209, 0.11999999731779099) ;
  box-sizing: content-box;
  align-items: center;
  border-color: transparent;
  border-radius: 24px 24px 0 0;
  background-color: var(--dl-color-light-bgcolor);
}
.details1-frame158 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 89px;
  flex-direction: column;
}
.details1-text34 {
  color: var(--dl-color-light-subtextcolor);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.details1-text36 {
  color: var(--dl-color-light-textcolor);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.details1-frame156 {
  width: 180px;
  display: flex;
  padding: 16px 32px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-light-primarycolor);
}
.details1-text38 {
  color: var(--dl-color-light-bgcolor);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Amiko;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.details1-image67 {
  top: 122px;
  left: 296.6044921875px;
  width: 253px;
  height: 113px;
  position: absolute;
  border-color: transparent;
}
@media(max-width: 479px) {
  .details1-image67 {
    top: 140px;
    right: 35px;
  }
}
